body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}
#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}
.dictionary-bubble{
    visibility: hidden;
    position: absolute;
  	width: 280px;
    z-index: 1;
  	text-align: left;
  	background-color: #fff;
  	border: 8px solid #666;
  	-webkit-border-radius: 30px;
  	-moz-border-radius: 30px;
  	border-radius: 20px;
  	-webkit-box-shadow: 2px 2px 4px #888;
  	-moz-box-shadow: 2px 2px 4px #888;
  	box-shadow: 2px 2px 4px #888;
}

.dictionary-words-container{
    display: flex;
    padding: 10px;
}
.dictionary-leftColumn{
  position: relative;
    width: 50%;
}
.dictionary-rightColumn{
  position: relative;
  padding-left: 5px;
    width: 50%;
}

.dictionary-sentences-container{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.logoDiv{
  position: relative;
  max-width: 100%;
  height: 20px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 100%;
}

.dictionary-bubble li{
    font-size:12px;
    list-style-type: circle;
    list-style-position:outside;
}
.dictionary-bubble p{
font-size:12px;

}

/* unvisited link */
.urlText {
    text-decoration: underline;
    color: blue;
}

/* visited link */
.urlText:visited {
    color: gray;
}

/* mouse over link */
.urlText:hover {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

/* selected link */
.urlText:active {
    color: blue;
}
